@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Rubik:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

.scroll {
  margin: 0 !important;
  padding: 0 !important;
}

.ScrollbarsCustom-Scroller {
  overflow-x: hidden !important;
  margin-right: -23px !important;
}

.ScrollbarsCustom-Thumb {
  width: 1348.77px !important;
}
.ScrollbarsCustom-ThumbX {
  display: none !important;
}

header,
main,
footer {
  margin: 0.4rem 0rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  section {
    margin: 0.7rem;
    width: 47%;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

/********************************************************* PAGINATION *********************************************************/

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .pgbtn {
    padding: 0rem 0.2rem;
  }

  .pgselect {
    width: 7rem;
    margin: 0rem 0.4rem;
  }
}

ul.pagination {
  margin-top: 0.8rem;

  li {
    list-style-type: none;
    display: inline;
    flex-direction: row;
    color: rgb(139, 139, 140);
    border: 1px solid rgb(255, 255, 255);
    padding: 0.2rem 0.3rem;
    margin: 0.3rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 0.2rem;

    &.active {
      color: rgb(19, 230, 212);
      background: rgb(34, 31, 31);
    }
  }
}

/********************************************************* PAGINATION *********************************************************/

/******************************************************** PRODUCTS CATEGORIES *************************************************/

.featured .products-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  text-transform: uppercase;
}

.products-header .filterList {
  min-width: 15rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
}

.filterList {
  display: flex;
  justify-content: space-around;
}

.filterBtn {
  width: 11rem;
  min-width: 5rem;
  padding: 0.2rem;

  select {
    width: 100%;
    height: 1.5rem;
  }
}

.filterList span {
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  color: #818486;

  &.active {
    color: green;
    text-decoration: underline;
  }
}

.card-button-close {
  visibility: hidden;
}

/******************************************************** PRODUCTS CATEGORIES *************************************************/

.slider {
  width: 100% !important;
  height: 789px !important;
}


/******************************************************** MEDIA QUERIES ********************************************************/

@media only screen and (max-width: 900px) {
  section {
    &.left,
    &.middle-1,
    &.middle-2,
    &.right {
      width: 100% !important;
    }
  }

  header {
    padding: 0px 0rem;
  }

  .banner {
    .image {
      display: none;
    }

    .banner-text {
      width: 98%;
      justify-content: center;
      align-items: center;
    }
  }

  main.featured {
    .featured {
      display: flex;
      justify-content: center;
    }

    section {
      width: 70%;
    }
  }

  .testimonial section {
    border: 1px solid yellow;
    width: 10rem !important;
  }

  main.cart {
    section {
      width: 98%;
      flex-direction: column;
    }

    .cart-head {
      display: none;
    }

    section .item-name {
      flex-direction: column;
      text-align: center;
    }
  }

  .cart-item div:nth-child(2) {
    display: none;
  }

  .pgselect {
    display: none !important;
  }

  /*************************************** ORDERS PAGE ***************************************/

  main.orders {
    margin: 0;

    .head {
      display: none;
    }

    .mobile-head {
      display: block;
      width: 100%;

      h1 {
        color: rgb(11, 11, 11);
        font-size: small;
        margin-left: 0.3rem;
      }
    }

    .body {
      flex-direction: column;

      .address {
        justify-content: start;
        align-items: flex-start;
        margin: 0;
        margin-bottom: 0 !important;
      }

      .status {
        justify-content: start;

        margin-bottom: 0.3rem;
        margin-top: 0 !important;

        button {
          width: 100%;
        }
      }
    }
  }

  form.checkout-form input[type="text"] {
    width: 94%;
  }

  section.checkout-section .left {
    width: 100%;
    display: block !important;
  }

  form.checkout-form {
    width: 100%;
  }

  /*************************************** ORDERS PAGE ***************************************/
}
/* SINGLE PRODUCT PAGE MEDIA QUERIES */

@media screen and (min-width: 60em) {
  .card2 {
    flex: 0 1 calc(49.6% - 1em);
    margin: 0.3rem;
  }

  .hidden-content {
    display: flex;
  }
}
