
main.orders {
    padding: 0 !important;
  
    .head {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 1rem;
      border-radius: 0px;
      background: rgb(241, 241, 241);
  
      margin-bottom: 0.7rem;
      position: sticky;
      top: 48px;
    }
  
    .mobile-head {
      display: none;
    }
  
    .head div {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .body {
      display: flex;
      justify-content: space-between;
  
      .item-wrapper {
        flex: 3;
        display: flex;
        padding: 0.4rem;
        margin: 0.2rem 0.3rem;
        max-width: 30rem;
  
        .left {
          flex: 1;
          height:10rem;
          padding: 0.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: 22px 22px 89px #d5d5d5, -22px -22px 89px #ffffff;
          border-radius: 9px;
          background: #ffffff;
          box-shadow: 5px 5px 17px #c9c9c9, -5px -5px 17px #ffffff;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
  
        .right {
          flex: 2;
          padding: 0.4rem;
  
          p {
          }
        }
      }
  
      .address {
        flex: 2;
  
        padding: 0.4rem;
        margin: 0.2rem 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .status {
        padding: 0.4rem;
        margin: 0rem 0.3rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  
    .footer {
      background: rgb(76, 104, 146);
      padding: 0.3rem 1rem;
    }
  }