.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none !important;
    margin-top: 0px !important;
    min-height: 17rem;
    padding: 0.4rem;
    background: linear-gradient(
      90deg,
      rgba(206, 212, 215, 1) -3%,
      rgba(52, 196, 220, 1) 10%,
      rgba(32, 194, 221, 1) 0%,
      rgba(0, 36, 33, 1) 165%
    );


  .image,
  .banner-text {
    width: 47%;
    margin: 0.3rem;
  }

  img {
    width: 30vw;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;

    h1 {
      text-shadow: 40px 40px 19px rgba(48, 39, 158, 0.29);
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
        0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15),
        40px 40px 19px rgba(48, 39, 158, 0.29);
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 2rem;
      letter-spacing: 2px;
      word-spacing: 2px;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      color: rgb(255, 255, 255);
      font-variant: normal;
      text-transform: capitalize;
    }

    p {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      margin: 0.5rem 0rem;
      font-size: 15px;
      letter-spacing: 0.4px;
      word-spacing: 1px;
      color: #dbf1f1;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
    }

    button {
      padding: 0.4rem 1rem;
      border-radius: 20px;
      color: white;
      border: none;
      background: rgb(206, 212, 215);
      margin: 0.6rem 0rem;

      transition: 0.3s all;

      background: linear-gradient(
        to right,
        #ce6e9a 0%,
        #a45d7a 0%,
        #c571af 100%
      );
      &:hover {
        letter-spacing: 0.1rem;
        cursor: pointer;
      }
    }
  }
}
